global:
  domain: "eu2.coralogix.com"
  clusterName: "kenan-lab"

opentelemetry-agent:
  presets:
    spanMetrics:
      enabled: true
  config:
    exporters:
      coralogix:
        timeout: "30s"
        private_key: "cxtp_RI3DMN6dwSmqzv3IECSlwyW2DA25Hp"
        domain: "{{ .Values.global.domain }}"
        application_name: "{{ .Values.global.defaultApplicationName }}"
        subsystem_name: "{{ .Values.global.defaultSubsystemName }}"
        application_name_attributes:
          - "k8s.namespace.name"
          - "service.namespace"
        subsystem_name_attributes:
          - "service.name"
          - "k8s.deployment.name"
          - "k8s.statefulset.name"
          - "k8s.daemonset.name"
          - "k8s.cronjob.name"

    service:
      pipelines:
        logs:
          exporters:
            - coralogix
          processors:
            - k8sattributes
            - resourcedetection/env
            - resourcedetection/region
            - batch
          receivers:
            - otlp
        traces:
          exporters:
            - coralogix
          processors:
            - k8sattributes
            - resourcedetection/env
            - resourcedetection/region
            - batch
          receivers:
            - otlp